:root {
// ### Primary

--Soft_blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

// ### Neutral

// (main BG)
--Very_dark_blue1: hsl(217, 54%, 11%);
// (card BG)
--Very_dark_blue2: hsl(216, 50%, 16%);
// (line)
--Very_dark_blue3: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Very_dark_blue1);
}

.container {
    max-width: 320px;
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-sub_cont { 
        background-color: var(--Very_dark_blue2);
        border: 1px solid var(--Very_dark_blue2);
        border-radius: 20px;
        padding: 25px;
        // margin: 0 auto;
        &-imgBox {
            width: 100%;
            overflow: hidden;
            position: relative;
            img {
                width: 270px;
                border-radius: 10px;
                display: block;
            }
            &::after {
                content: url("../images/icon-view.svg");
                position: absolute;
                width: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-15%, -50%);
                z-index: 10;
                opacity: 0;
                transition: opacity ease .25s;
            }
            &:hover::after {
                opacity: 1;
            }

            &::before {
                content: "";
                width: 270px;
                height: 100%;
                border-radius: 10px;
                background-color: var(--Cyan);
                opacity: 0;
                display: block;
                position: absolute;
            }
            &:hover::before {
                opacity: 0.50;
                cursor: pointer;
            }
        }
        &-tittle {
            color: var(--White);
            font-size: 1.3rem;
            margin: 20px 0;
            &:hover {
                color: var(--Cyan);
                cursor: pointer;
            }
        }
        &-paragraph {
            color: var(--Soft_blue);
            margin-bottom: 20px;
        }
        &-twoElements {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            &-ETH {
                display: flex;
                color: var(--Cyan);
                font-weight: 600;
                gap: 5px;
            }
            &-time {
                display: flex;
                color: var(--Soft_blue);
                align-items: center;
                gap: 5px;
            }
        }
        &-separator {
            border: none;
            height: 1px;
            background-image: linear-gradient(hsl(215, 51%, 70%, 0.4), hsl(215, 32%, 27%));
        }
        &-creator {
            display: flex;
            align-items: center;
            margin-top: 15px;
            gap: 20px;
            &-photo {
                border: 1px solid white;
                border-radius: 50%;
                width: 30px;
            }
            &-name {
                color: var(--Soft_blue);
                .author {
                    color: var(--White);
                    &:hover {
                        color: var(--Cyan);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}